<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->

    {% include "base/css.html" %}

  </head>
  <body>
    <body>
      <!-- Navegación -->
      {% include 'nav/navbar.html' %}
      {% include 'base/messages.html' with messages=messages %}
      <!-- Contenido -->
      {% block content %}{% endblock %}
      <!-- Javascript -->
      {% include 'base/js.html' %}
      
  </body>
</html>